@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.woff2") format("woff2"),
    url("/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #121212;
  color: #fff;
}
#TaskList::-webkit-scrollbar {
  display: none;
}
.employeeheaderbutn:hover {
  text-decoration: dotted;
}
html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  transition: all ease;
  transition-duration: 1s;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;
  border-radius: 3rem;
}
.alltasks::-webkit-scrollbar {
  width: 8px;
}
.alltasks::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 3rem;
}
.imageStatus{
  filter: invert();
}